@#templates/includes/head.html@
<body class="container">
@#templates/includes/navigation.html@

<h3>@title@</h3>

<form method="post" style="max-width:600px;">
	<div class="form-group">
		<label for="name">Name</label>
		<input class="form-control" id="name" name="name" value="@cheese.name@"/>
		@: if ($errors ["cheese.name"]) { @
		<span class="error">@$errors ["cheese.name"]@</span>
		@: } @
	</div>

	<div class="form-group">
		<label for="description">Description</label>
		<input class="form-control" name="description" id="description" value="@cheese.description@"/>
		@: if ($errors ["cheese.description"]) { @
		<span class="error">@$errors ["cheese.description"]@</span>
		@: } @
	</div>

	<div class="form-group">
		<label for="category">Category</label>
		<select name="category" id="category">
			@: for (var category of categories) { @
			<option @: if (cheese.category && category.name == cheese.category.name) { @ selected @: } @
			        value="@category.id@">@category.name@
			</option>
			@: } @
		</select>
	</div>

	<input type="submit" value="Save"/>
</form>

</body>
@#templates/includes/tail.html@