@#templates/includes/head.html@
<body class="container">
	@#templates/includes/navigation.html@
	<h3>@title@</h3>
	@: if (!menus || !menus.length) { @
	<p>No menus :(</p>
	@: } else { @
	<table class="table">
		<tr>
			<th>Name</th>
			<th>&nbsp;</th>
		</tr>
		@: for (var menu of menus) { @
		<tr>
			<td>
				<a href="/menu/view/@menu.id@">@menu.name@</a>
			</td>
			<td>
				<a href="/menu/edit/@menu.id@">[edit]</a>
			</td>
		</tr>
		@: } @
	</table>
	@: } @
	<nav>
		<a href="/menu/add">Add Menu</a>
		|
		<a href="/menu/remove">Remove Menus</a>
	</nav>
</body>
@#templates/includes/tail.html@