<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>My Cheeses</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="/css/styles.css"/>

</head>
<body>

<h1>My Cheeses</h1>

<nav>
	<a href="/cheese">Cheeses</a> |
	<a href="/category">Categories</a> |
	<a href="/menu">Menus</a>
</nav>

</body>
</html>